{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "loose": true,
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ],
  "env": {
    "test":{
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "stage-0",
        "react"
      ]
    }
  }
}
